
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#">Feane</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 content-options">
                <li class="nav-item">
                    <a class="nav-link space" routerLink="/home" routerLinkActive="nav-active">HOME</a>
                </li>
                <li class="nav-item space">
                    <a class="nav-link" routerLink="/menu" routerLinkActive="nav-active">MENÚ</a>
                </li>
                <li class="nav-item space">
                    <a class="nav-link" routerLink="/about" routerLinkActive="nav-active">ACERCA DE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reservation" routerLinkActive="nav-active">RESERVA</a>
                </li>
                <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
            </ul>
            <ul class="content-icons">
                <li>
                    <a href="">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="form-search">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
            </ul>
            <div class="content-btn">
                <btn-yellow txtBtn="Ordene en línea"></btn-yellow>
            </div>


        </div>
    </div>
</nav>

