

<div class="background">
    <div class="container-about">
        <div class="image">
            <img src="https://themewagon.github.io/feane/images/about-img.png" alt="">
        </div>
        <div class="detail-item">
            <div class="title-image">Somos Fean</div>
            <div class="detail-image">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, ipsam odio debitis
                harum nisi, eaque numquam et officia animi, magni cumque ipsa inventore eos quasi? Unde voluptates quis
                expedita minima.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, rerum ratione debitis nulla recusandae
                aperiam cum! Sunt numquam iusto corporis provident itaque adipisci sit quod assumenda odio, ullam pariatur
                nemo?</div>
            <btn-yellow txtBtn="Leer más"></btn-yellow>
        </div>
    </div>
</div>