<footer>
    <div class="container-footer">
        <div class="fila responsive">
            <div class="container-contact">
                <div class="contact-fila title-contact">Contáctanos</div>
                <a href="" class="contact-fila">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Ubicación</p>
                </a>
                <a href="" class="contact-fila">
                    <i class="fa-solid fa-phone"></i>
                    <p>Llame al +51 995335449</p>
                </a>
                <a href="" class="contact-fila">
                    <i class="fa-solid fa-envelope"></i>
                    <p>jorgechavez@gmail.com</p>
                </a>
            </div>
            <div class="container-marca">
                <div class="title-marca">
                    Feane
                </div>
                <div class="detail-marca">
                    NEcesario, haceindo de este primer generador verdadero en Internet. Utiliza un diccionario de más de
                    200 palabras latinas, combinado con
                </div>
                <div class="container-social-networks">
                    <div class="content-ico">
                        <fa-icon [icon]="instagram"></fa-icon>
                    </div>
                    <div class="content-ico">
                        <fa-icon [icon]="facebook"></fa-icon>
                    </div>
                    <div class="content-ico">
                        <fa-icon [icon]="twitter"></fa-icon>
                    </div>
                    <div class="content-ico">
                        <fa-icon [icon]="whatsapp"></fa-icon>
                    </div>
                </div>

            </div>
            <div class="container-horario">
                <div class="title-horario">Horario de apertura</div>
                <div class="horario-fila">Todos los días</div>
                <div class="horario-fila">10:00 am - 10:00 pm</div>
            </div>
        </div>
        <div class="fila">© 2023 Todos los derechos reservados por Plantillas Html gratuitas</div>
        <div class="fila">© Distribuido por ThemeWagon</div>
    </div>
</footer>