<div class="container-home">
    <div class="container-carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-item">
                        <div class="title-item title">Restaurante de comida rápida</div>
                        <div class="detail-item">Doloremque, itacque aperiam facilis rerum, mercandi, temporibus
                            sapiente ad
                            mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat
                            dolore, ist magni quos nihil ducimus libero ipsam.</div>
                        <btn-yellow txtBtn="Obtener ahora"></btn-yellow>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-item">
                        <div class="title-item title">Restaurante de comida rápida</div>
                        <div class="detail-item">Doloremque, itacque aperiam facilis rerum, mercandi, temporibus
                            sapiente ad
                            mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat
                            dolore, ist magni quos nihil ducimus libero ipsam.</div>
                        <btn-yellow txtBtn="Obtener ahora"></btn-yellow>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-item">
                        <div class="title-item title">Restaurante de comida rápida</div>
                        <div class="detail-item">Doloremque, itacque aperiam facilis rerum, mercandi, temporibus
                            sapiente ad
                            mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat
                            dolore, ist magni quos nihil ducimus libero ipsam.</div>
                        <btn-yellow txtBtn="Obtener ahora"></btn-yellow>
                    </div>
                </div>

        
            </div>
            <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
        </div>
    </div>
</div>

<offers></offers>
<view-menu></view-menu>
<div class="about">
    <about></about>
</div>
<reservation></reservation>