.background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.7;
    z-index: 5;
}

.container-message {
    text-align: center;
    border: solid red;
    width: 350px;
    height: 220px;
    border-radius: 5%;
    opacity: 1;
}

.container-close {
    display: flex;
    align-items: center;
    justify-content: right;
    border: solid blue;
    width: 100%;
    height: 18%;
}

.close {
    border: solid green;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin-right: 5px;
    font-size: 1.2rem;
}

.message {
    margin-bottom: 30px;
    margin-top: 35px;
}

.close {
    appearance: none;
    padding: 0 !important;
    background-color: #ffbe33;
}

.close:hover {
    background-color: #E69C00;
    transition: background-color 0.2s;
}

.none {
    display: none;
}