
@import "~@fortawesome/fontawesome-free/css/all.css";
@font-face {
    font-family: "Dancing Script";
    src: url("../src/assets/fonts/DancingScript-VariableFont_wght.ttf");
  }

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
    font-family: "Open Sans", sans-serif !important;
    overflow: scroll;
    padding-top: 5.5rem;
}
body::-webkit-scrollbar {
  display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  font-weight: 600;
}


/* Botón yellow */

.btn-yellow {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  height: 3rem;
}

.btn-yellow:hover {
  background-color: #E69C00;
  transition: background-color 0.2s;
}
