<!-- <div class="container-card">
    <div class="container-image">
        <img src="https://themewagon.github.io/feane/images/f3.png" alt="">
    </div>
    <div class="container-detail">
        <div class="title-item">Deliciosa pizza</div>
        <div class="item-detail">Veniam debitis quaerat officiis cuasi cupiditate quo, quisquam velit, magnam voluptatem
            repellendus sed eaque</div>
        <div class="container-flex">
            <div class="item-price">20 So</div>
            <btn-cart-yellow></btn-cart-yellow>
        </div>
    </div>
</div> -->

<div class="container-card">
    <div class="container-image">
        <img src="{{'http://34.125.167.88/'+producto.image_item}}" alt="">
    </div>
    <div class="container-detail">
        <div class="title-item">{{producto.nombre_producto}}</div>
        <div class="item-detail">{{producto.details_producto}}</div>
        <div class="container-flex">
            <div class="item-price">{{producto.price}} so</div>
            <btn-cart-yellow></btn-cart-yellow>
        </div>
    </div>
</div>